.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 34px;
    text-align: center;
    line-height: 5px;
    padding: 10px;
    color: white;
    padding-bottom: 35px;
}