.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;

  .logo {
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Horizontally center the image */
    align-items: center;
    // margin: 10px 0;
    // z-index: 1;

    // @media screen and (max-width: 768px) {
    //   display: flex; /* Use flexbox to align items */
    //   justify-content: center; /* Horizontally center the image */
    //   align-items: center;
    //   margin-left: auto;
    //   margin-right: auto;
    // }

    // h1 {
    //   color: white;
    //   font-family: "Rubik", sans-serif;
    //   font-size: 48px;
    //   text-transform: capitalize;
    //   text-align: center;

    //   @media screen and (max-width: 768px) {
    //     position: absolute;
    //     top: 0;
    //     left: 50%;
    //     transform: translate(-90%, 0);
    //     font-size: 40px;

    //     .stagger {
    //       position: absolute;
    //       top: 110%; /* Position it just below the "CODE" text */
    //       left: calc(60% - 10px);
    //     }
    //   }
    // }
  }

  .intro-text {
    // margin-bottom: 25px;
    // padding: 10px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    color: white;

    @media screen and (max-width: 768px) {
      font-size: 40px;
    }

    .fancy {
      color: rgb(236, 64, 122);
      font-family: "Dancing Script", cursive;
      font-size: 1.5em;
      line-height: 0.9em;
    }
  }

  .instructions {
    position: relative;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    width: 80vw;
    margin-left: 0%;
    z-index: -2;

    > .duck{
      width: 200px; 
      height: 200px;
      padding:0px;
      padding-bottom: 10px;
    }

    > div:first-of-type {
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 25px;
      line-height: 1;
      color: whitesmoke;
    }

    > div:nth-of-type(2) {
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      font-style: normal;
      margin-top: 10px;
      color: whitesmoke;
      font-size: 18px;
    }
  }
}

.duck{
  width: 200px; 
  height: 200px;
  padding-bottom: 10px;
  background-color: transparent;
  box-shadow: 0px 0px 0px;
}
