.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 10px;

  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    max-height: 200px;

    img {
      max-width: 75vw;
      max-height: 120px;
      object-fit: contain;
    }
  }

  .intro-text {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    color: white;

    @media screen and (max-width: 768px) {
      font-size: 40px;
    }
  }

  .instructions {
    position: relative;
    padding: 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: whitesmoke;

    .duck {
      width: 200px;
      height: 200px;
      margin-bottom: 10px;
      cursor: pointer;
    }

    > div:first-of-type {
      margin-bottom: 10px;
      font-size: 25px;
      line-height: 1;
    }

    > div:nth-of-type(2) {
      color: whitesmoke;
      font-size: 18px;
    }
  }
}
