:host {
  height: 80vh;
  width: 100%;
}

.video-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.output-container {
  margin: 10px 0;
}

.motion-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;

  .motion-data-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;

    .motion-data-label {
      font-weight: bold;
    }
  }
}
