<div
  class="video-container"
  [style.width]="videoContainerWidth"
  [style.height]="videoContainerHeight"
>
  <canvas #canvasElement hidden></canvas>
</div>

<div class="output-container">
  {{ output }}
</div>

<div class="motion-data">
  <div class="motion-data-row">
    Acceleration:
    {{ motionData?.acceleration?.x | number : "1.0-3" }},
    {{ motionData?.acceleration?.y | number : "1.0-3" }},
    {{ motionData?.acceleration?.z | number : "1.0-3" }}
  </div>

  <div class="motion-data-row">
    Rotation rate:
    {{ motionData?.rotationRate?.alpha | number : "1.0-3" }},
    {{ motionData?.rotationRate?.beta | number : "1.0-3" }},
    {{ motionData?.rotationRate?.gamma | number : "1.0-3" }}
  </div>

  <div class="motion-data-row">
    Interval:
    {{ motionData?.interval | number : "1.0-3" }},
    {{ motionData?.timeStamp | number : "1.0-3" }}
  </div>

  <div class="motion-data-row">
    Velocity:
    {{ velocity.x | number : "1.0-3" }}, {{ velocity.y | number : "1.0-3" }},
    {{ velocity.z | number : "1.0-3" }}
  </div>

  <div class="motion-data-row">
    Position:
    {{ position.x | number : "1.0-3" }}, {{ position.y | number : "1.0-3" }},
    {{ position.z | number : "1.0-3" }}
  </div>
</div>
