.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  height: 100vh;
  width: 85vw;

  > div {
    .action-container {
      position: absolute;
      bottom: 0;
      width: 85vw;

      #file-upload {
        display: none;
        visibility: hidden;
      }
    }

    .not-supported {
      max-width: 300px;
      color: rgb(255, 79, 79);
      text-align: center;
      overflow-wrap: break-word;
    }
  }

  .capture-container {
    height: 100vh;
    width: 85vw;
  }

  .btn {
    padding: 20px 10px;
    width: 100%;
    align-self: center;
  }
}
