<div class="container">
  <div *ngIf="!isOpenCamera; else appCapture">
    <app-welcome></app-welcome>

    <div class="action-container">
      <button class="btn text" for="file-upload" (click)="uploadImage()">
        Upload Image
      </button>
      <input
        #fileInput
        id="file-upload"
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
      />
      <button
        *ngIf="isSupported; else notSupported"
        class="btn text"
        (click)="openCamera()"
      >
        Start Recording
      </button>
      <button
        *ngIf="!isUploading; else uploading"
        class="btn text"
        (click)="goToUpload()"
      >
        Upload image
      </button>
    </div>

    <ng-template #notSupported>
      <div class="not-supported">
        Your device does not support taking of images! Either upload an image or
        change your device to a supported one.
      </div>
    </ng-template>
  </div>

  <ng-template #appCapture>
    <div class="capture-container">
      <app-capture></app-capture>
      <div class="action-container">
        <button class="btn text" (click)="closeCamera()">Stop Recording</button>
        <button class="btn text" (click)="finishRecording()">
          Finish Recording
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #uploading>
    <app-upload></app-upload>
  </ng-template>
</div>
