<div class="container">
  <div *ngIf="!isOpenCamera; else appCapture">
    <app-welcome></app-welcome>

    <div class="action-container">
      <!-- <button class="btn text" for="file-upload">Upload Image</button>
      <input id="file-upload" type="file" /> -->
      <button
        *ngIf="isSupported; else notSupported"
        class="btn text"
        (click)="openCamera()"
      >
        Start Recording
      </button>
    </div>

    <ng-template #notSupported>
      <div class="not-supported">
        Your device does not support taking of images! Either upload an image or
        change your device to a supported one.
      </div>
    </ng-template>
  </div>

  <ng-template #appCapture>
    <div class="capture-container">
      <app-capture></app-capture>
      <div class="action-container">
        <button class="btn text" (click)="onOffCamera()">Stop Recording</button>
        <button class="btn text" (click)="goToRun()">Finish Recording</button>
      </div>
    </div>
  </ng-template>
</div>
