<div #container class="container">
  <div *ngIf="!isOpenCamera; else appCapture">
    <app-welcome></app-welcome>

    <div class="action-container">
      <app-upload></app-upload>
      <button
        *ngIf="isSupported; else notSupported"
        class="btn text"
        (click)="openCamera()"
      >
        Start Recording
      </button>
    </div>

    <ng-template #notSupported>
      <div class="not-supported">
        Your device does not support taking of images! Either upload an image or
        change your device to a supported one.
      </div>
    </ng-template>
  </div>

  <ng-template #appCapture>
    <div class="capture-container">
      <app-capture></app-capture>
      <div class="action-container">
        <button class="btn text" (click)="closeCamera()">Stop Recording</button>
      </div>
    </div>
  </ng-template>
</div>

<!-- <div #tiles id="tiles"></div> -->

<div #instructionContainer class="instuction-container toggled">
  <div>Welcome to CodeBlocks!</div>
  <div>
    <div>How to play:</div>
    <div>1. Listen to your teacher's instructions</div>
    <div>
      2. Assemble your blocks into the order you want your robot to move in
    </div>
    <div>3. Ask your teacher to scan your blocks</div>
    <div>4. Check your scan with your teacher</div>
    <div>5. Press "Run Code"</div>
    <div>6. Watch your robot go!</div>
  </div>
</div>
