.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  padding: 0 7.5vw;

  .action-container {
    display: flex;
    flex-direction: column;
    margin: auto auto 0;
    padding: 10px;
    width: 80vw;

    .not-supported {
      max-width: 300px;
      color: rgb(255, 79, 79);
      text-align: center;
      overflow-wrap: break-word;
      align-self: center;
    }
  }
}

.btn {
  padding: 20px 10px;
  width: 100%;
}
