/* You can add global styles to this file, and also import other style files */

@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

// Start - Styling for the background
:root {
  --g1: rgb(51, 38, 68);
  --g2: rgb(133, 106, 207);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

body {
  animation: background-pan 10s linear infinite;
  background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

// End - Styling for the background

// Start - Defining fonts
@font-face {
  font-family: "Dancing Script";
  src: url("../../../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../../../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
// End - Defining fonts

.btn {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  border-style: none;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: #ffd23f;
  color: #5e1675;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    background-color: #6b7ff5;
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  }
}

.text {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  text-align: center;
  padding: 10px;
  line-height: normal;
}
