/* You can add global styles to this file, and also import other style files */

@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,400;1,900&display=swap");

// Start - Styling for the background
body {
  background: #8535d4;
  margin: 0px;
}
// End - Styling for the background

// Start - Defining fonts
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../../assets/fonts/Poppins/Poppins-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
// End - Defining fonts

.btn {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
  background-color: #ffd23f;
  color: #000000;
  box-shadow: 0 4px 12px #ececec9e;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    background-color: #6b7ff5;
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  }
}

.text {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  text-align: center;
  padding: 10px;
  line-height: normal;
}
