:host {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //max-height: calc(30vh + 20px);
  min-height: fit-content;
  width: 85vw;
  border-radius: 8px;
  padding: 10px;
  height: fit-content;
  //background-color: rgb(255 255 255 / 75%);
  margin: auto;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    padding: 10px;

    #file-upload {
      display: none;
      visibility: hidden;
    }

    .not-supported {
      max-width: 300px;
      color: rgb(255, 79, 79);
      text-align: center;
      overflow-wrap: break-word;
    }
  }

  .btn {
    margin: 10px;
    width:100%; 
    height:15vh;
    justify-items: center;
    align-items: center;
    background-color: #FFD23F;
  }

  .text {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    text-align: center;
    line-height: 5px;
    padding: 10px;
    color: #5E1675;
  }

  .flash{
    animation: blink 3s linear infinite;
  }

  @keyframes blink {
    25%{
      opacity: 0.7;
    }
    50%{
      opacity: 0.3;
    }
    75%{
      opacity:0.7;
    }
  }

}
