:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  width: 95%;
  background-color: white;
  border-radius: 8px;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    padding: 10px;

    #file-upload {
      display: none;
      visibility: hidden;
    }

    .not-supported {
      max-width: 300px;
      color: rgb(255, 79, 79);
      text-align: center;
      overflow-wrap: break-word;
    }
  }
}
