.instuction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 80vw;

  > div:first-of-type {
    margin-bottom: 20px;
    font-size: 45px;
    color: #ffd23f;
  }

  > div:nth-of-type(2) {
    background-color: azure;
    border-radius: 15px;
    padding: 10px;

    > div {
      margin-bottom: 10px;
      text-align: left;
    }

    > div:first-of-type {
      font-size: 25px;
    }

    > div:nth-of-type(2) {
      font-family: "Poppins", sans-serif;
      font-size: 20px;
    }
  }

  .btn {
    font-size: 20px;
    margin: 20px auto 0;
    width: 30vw;
    min-width: 100px;
  }
}
