<div class="instuction-container">
  <div class="text">Welcome to CodeBlocks!</div>
  <div class="container">
    <div class="text smaller-text">How to play:</div>
      <div class="details-text"> 
      <div>1. Listen to your teacher's instructions</div>
      <div>
        2. Assemble your blocks into the order you want your robot to move in
      </div>
      <div>3. Ask your teacher to scan your blocks</div>
      <div>4. Check your scan with your teacher</div>
      <div>5. Press "Run Code"</div>
      <div>6. Watch your robot go!</div>
    </div>
  </div>
  <button class="btn text" (click)="goToHome()">
    Let's go!
  </button>
</div>
